.hero {
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
  background-color: var(--color-primary-bg);
}

.hero h1 {
  font-size: 3rem;
  color: var(--color-bg-dark);
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1.25rem;
  color: var(--color-primary-light);
  margin-bottom: 2rem;
}

.badges {
  margin-top: 1.5rem;
}

.special-badge {
  background-color: var(--color-bg-dark);
  color: var(--color-bg);
  padding: 0.75rem 2rem;
  border-radius: 25px;
  font-size: 1.2rem;
  cursor: pointer;
}

.special-badge:hover {
  background-color: var(--color-primary-darker);
}

.badge-tricks {
  background-color: var(--color-bg);
  color: var(--color-bg-dark);
  padding: 0.75rem 2rem;
  font-size: 1.2rem;
  border-radius: 25px;
  margin-right: 1rem;
  cursor: pointer;
  font-weight: bold;
  box-shadow: var(--shadow-sm);
}
