.btn-icon {
  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: var(--color-text);
  font-size: 20px;
}

[data-theme='dark'] .btn-icon {
  color: var(--color-text-on-dark);
}
