.navbar {
    background-color: #3a5438;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  